/*
font-family: 'Zeyada', cursive;
font-family: 'Shadows Into Light', cursive;
*/

body{
    font-family: 'Zeyada', cursive;
    font-size: 1.9em;
}

.backgroundimg{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url("../assets/pebble-7thhole-wave.jpg");
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.backgroundimg .navbarcus a{
    color: white;
    text-decoration: none;
}
h1, h2, p, li{
    color: white;
    
}

#name{
    font-size: 400%;
    margin-top: 20vh;
    text-align: center;
}

.absolute{
    position: absolute;
    z-index: 999;
    bottom: 0px;
    width: 100%;
}

.absolute div a{
    color: white;
}

.customcolor p, .customcolor h2, .customcolor li{
    color: black;
}